<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="hamekoz-github-packages" value="https://nuget.pkg.github.com/hamekoz/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <hamekoz-github-packages>
      <add key="Username" value="readonly" />
      <add key="ClearTextPassword" value="%HAMEKOZ_GITHUB_PACKAGES_TOKEN%" />
    </github-hamekoz>
  </hamekoz-github-packages>
</configuration>